# {{rdomain}}.{{subdomain}}.{{class}}

Hello World in Java (Maven version)

```
$ pub global run dartrix:new hello -t maven
$ cd {{_out_prefix}}
$ mvn package
$ java -cp target/{{subdomain}}-0.1.0.jar {{rdomain}}.{{subdomain}}.{{class}}
{{greeting}}, {{addressee}}
```