# {{dartrix.ns}}{{#dartrix.nsx}}.{{dartrix.nsx}}{{/dartrix.nsx}}.{{class}}

Hello World in Java (Maven version)

```
$ cd {{dartrix.out}}
$ mvn package
$ java -cp target/{{dartrix.out}}-0.1.0.jar {{dartrix.ns}}{{#dartrix.nsx}}.{{dartrix.nsx}}{{/dartrix.nsx}}.{{class}}
{{greeting}}, {{addressee}}
```