# {{rdomain}}.{{subdomain}}.{{class}}

Hello World in Kotlin

```
$ pub global run dartrix:new hello -t kotlin -a {{_out_prefix}} -p {{rdomain}} -d {{subdomain}} -c {{class}} -g {{greeting}}
$ cd {{_out_prefix}}
$ kotlinc src/main/kotlin/{{segmap.RDOMAIN}}/{{subdomain}}/{{class}}.kt
$ kotlin {{class}}Kt
{{greeting}}, {{addressee}}
```