# {{dartrix.ns}}{{#dartrix.nsx}}.{{dartrix.nsx}}{{/dartrix.nsx}}.{{class}}

Hello World in Kotlin

```
$ cd {{dartrix.out}}
$ kotlinc src/main/kotlin/{{seg._NS}}/{{#seg._NSX}}{{seg._NSX}}/{{/seg._NSX}}{{class}}.kt
$ kotlin {{class}}Kt
{{greeting}}, {{addressee}}
```