# {{pkg}}.{{dept}}.{{class}}

Hello World in Java (Maven version)

```
$ pub global run dartrix:new hello -t maven -a {{app}} -p {{pkg}} -d {{dept}} -c {{class}} -g {{greeting}}
$ cd {{app}}
$ mvn package
$ $ java -cp target/{{app}}-0.1.0.jar {{pkg}}.{{dept}}.{{class}}
{{greeting}}, {{to}}
```