# Hello World from ClojureScript

See the official [Quick Start](https://clojurescript.org/guides/quick-start) guide.

```
$ pub global dartrix:new hello -t clojurescript
$ cd {{_out_prefix}}
$ clj --main cljs.main --compile {{rdomain}}.{{subdomain}}.{{ns-lss}} --repl
```
