# Hello World from ClojureScript

See the official [Quick Start](https://clojurescript.org/guides/quick-start) guide.

```
$ pub global dartrix:new hello -t clojurescript
$ cd {{dartrix.out}}
$ clj --main cljs.main --compile {{dartrix.ns}}{{#dartrix.nsx}}.{{dartrix.nsx}}{{/dartrix.nsx}}.{{ns-lss}} --repl
```
