# {{pkg}}.{{dept}}.{{class}}

Hello World in Java

```
$ pub global run dartrix:new hello -t java -a {{app}} -p {{pkg}} -d {{dept}} -c {{class}} -g {{greeting}}
$ cd {{app}}
$ javac {{app}}/src/java/{{segmap.PKGPATH}}/{{dept}}/{{class}}.java
$ java -cp ./{{app}}/src/java {{segmap.PKGPATH}}/{{dept}}/{{class}}
{{greeting}}, {{to}}
```