# {{pkg}}.{{dept}}.{{class}}

Hello World in Java

```
$ pub global run dartrix:new hello -t java -a {{app}} -p {{pkg}} -d {{dept}} -c {{class}} -g {{greeting}}
$ cd {{app}}
$ javac {{segmap.SRC}}/{{segmap.PKGPATH}}/{{dept}}/{{class}}.java
$ java -cp {{segmap.SRC}} {{pkg}}.{{dept}}.{{class}}
{{greeting}}, {{to}}
```