# {{dartrix.ns}}{{#dartrix.nsx}}.{{dartrix.nsx}}{{/dartrix.nsx}}.{{class}}

Hello World in Java

```
$ cd {{dartrix.out}}
$ javac {{seg.SRC}}/{{seg._NS}}/{{seg._NSX}}/{{class}}.java
$ java -cp {{seg.SRC}} {{dartrix.ns}}{{#dartrix.nsx}}.{{/dartrix.nsx}}{{dartrix.nsx}}.{{class}}
{{greeting}}, {{addressee}}
```