# Hello World from ClojureScript

See the official [Quick Start](https://clojurescript.org/guides/quick-start) guide.

```
$ pub global dartrix:new hello -t clojurescript
$ cd {{app}}
$ clj --main cljs.main --compile {{pkg}}.{{dept}}.{{ns-lss}} --repl
```
