# {{pkg}}.{{dept}}.{{class}}

Hello World in Kotlin

```
$ pub global run dartrix:new hello -t kotlin -a {{app}} -p {{pkg}} -d {{dept}} -c {{class}} -g {{greeting}}
$ cd {{app}}
$ kotlinc src/main/kotlin/{{segmap.PKGPATH}}/{{dept}}/{{class}}.kt
$ kotlin {{class}}Kt
{{greeting}}, {{to}}
```